#!/usr/bin/make -f
%:
	dh $@

DEB_CFLAGS_MAINT_APPEND = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	DEB_CFLAGS_MAINT_APPEND += -O2
endif

export DEB_CFLAGS_MAINT_APPEND

override_dh_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/hildon-theme-cacher
	dh_install
